@import "../../styles//variables.scss";

.carousel {
    margin: 0px 20px 0px 20px;
    border-top: solid 15px #ffa91d;

 .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
}
    img {
        height: 100%;
    }
}

