@import "./../../styles/variables.scss";

.masonry {
  margin: 20px 30px 20px 30px;
  column-count: 3;
  column-gap: 16px;

  img {
    width: 100%;
  }
}

.item {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}
