@import "./../../styles/variables.scss";

.services {
  margin: 20px 30px 20px 30px;
  column-count: 3;
  column-gap: 16px;
  img {
    width: 100%;
  }
}
.item {
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  break-inside: avoid-column;
  margin-bottom: 1rem;
  // width: 100%;
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 1199px) {
  .services {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .services {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .services {
    column-count: 1;
  }
}
